mongodb-database-tools-ubuntu2004-x86_64-100.3.1
mongodb-linux-x86_64-ubuntu2004-4.4.6
mongodb-database-tools-ubuntu2004-x86_64-100.3.1.tgz
mongodb-linux-x86_64-ubuntu2004-4.4.6.tgz
people.json
restaurants.json
mytests/target
mytests/.idea
mytests/mytests.iml